  body, html {
	background-color: pink;
	text-align: center;
  }
  h1 {
	color: black;
	font-size: 60px;
  }
  h2 {
	color : black;
	font-size: 42px;
  }
  h3 {
	color: white;
  }
  table, th, tr, td{
	width: 50%;
	border: black;
	border: 1px solid;
	font-size: 20px;
	color: black;
	font-family: Arial, sans-serif;
	align-content: center;
  }
  td{
	align-content: first baseline;
  }
  .center {
	margin-left: auto;
	margin-right: auto;
  }
  .sport{
	background-color: bisque;
  }
  .introduction, h3{
	font-size: 30px;
	color: purple;
  }
input{
	color: purple;
	padding: 10px;
  }
  header {
	padding: 10px;
	background: white;
	color: white;
	font-size: 30px;
  }
  #map-container {
	position: relative;
  }
  
  #map {
	width: 80%;
	height: auto;
  }
  
  .area {
	position: absolute;
	cursor: pointer;
  }

  #world{
	background-color: rgb(174, 186, 190);
  }
  
  /* Ajouter des sélecteurs CSS pour chaque pays que vous avez inclus */
  